In [ ]:
import pandas as pd
import numpy as np
import json, gzip, os
import datetime as dt

In [ ]:
fnames = ['Aigerim', 'Alexandra', 'Alexia', 'Alice', 'Alina', 'Alisa', 'Alyona', 'Anastasia', 'Angelina', 'Anna', 'Armonia', 
          'Daria', 'Dascha', 'Diana', 'Elena', 'Elizaveta', 'Evgenia', 'Evgeniya', 'Faina', 'Irina', 'Irishka', 'Jane', 
          'Jekaterina', 'Karina', 'Kate', 'Kathrine', 'Kristina', 'Lena', 'Lerka', 'Lila', 'Lilia', 'Lilitha', 'Liza', 
          'Margarita', 'Maria', 'Mary', 'Mila', 'Mina', 'Natalia', 'Natascha', 'Natasha', 'Nina', 'Oksana', 'Olga', 'Sarah',
          'Scarlet', 'Sharon', 'Sonja', 'Svetlana', 'Tanya', 'Tatiana', 'Tatyana', 'Tetiana', 'Valeriya', 'Vasilisa', 'Vera',
          'Vergilia', 'Viktoria', 'Violetta', 'Vlada', 'Yana', 'Yulia', 'Zoya', 'Zukhra', 'Greta', 'Альбина','Рината',
          'Аглая', 'Аделина', 'Адель', 'Адриана', 'Аида', 'Айгуль', 'Александра', 'Алена', 'Алеся', 'Алика', 'Алина', 'Алиса',
          'Алисия', 'Алла', 'Алёна', 'Алёнушка', 'Амалия', 'Амина', 'Амира', 'Анастасiя', 'Анастасия', 'Анастасія', 'Ангелина',
          'Анжела', 'Анжелика', 'Анита', 'Анна', 'Анна-Мария', 'Антонина', 'Антуанетт', 'Анюта', 'Аня', 'Ариадна', 'Арина',
          'Астра', 'Ася', 'Божена', 'Валентина', 'Валерия','Варвара', 'Варя', 'Василиса', 'Василисса', 'Вера', 'Вероника',
          'Вета', 'Вика', 'Викторiя', 'Виктория', 'Виолетта', 'Виринея', 'Вита', 'Влада', 'Владислава', 'Владлена', 'Галина', 
          'Галя', 'Гузяля', 'Гульназ', 'Гульнара', 'Дана', 'Дарина', 'Дария', 'Дарья', 'Даша', 'Диана', 'Диля', 'Диляра', 
          'Динара', 'Ева', 'Евгения', 'Екатерина', 'Елена', 'Елизавета', 'Есения', 'Зарина', 'Зена', 'Злата', 'Зоя', 'Изабелла',
          'Илона', 'Иляна', 'Инесса', 'Инна', 'Иоланта', 'Ира', 'Ирина', 'Иринка', 'Иришка', 'Камила', 'Камилла', 'Карина',
          'Каролина', 'Катерина', 'Катюшка', 'Катя', 'Корнелия', 'Кошка', 'Кристина', 'Ксенiя', 'Ксения', 'Ксюха', 'Ксюша',
          'Лада', 'Лариса', 'Лейла', 'Лена', 'Лера', 'Леся', 'Леся-Олеся', 'Лидия', 'Лиза', 'Лизавета', 'Лика', 'Лилия', 'Лиля',
          'Лиса', 'Лия', 'Лукерья', 'Лукреция', 'Люба',  'Любовь', 'Люда', 'Людмила', 'Люсенька', 'Магдалина', 'Марiанна', 
          'Марiя', 'Маргарита', 'Марго', 'Мари', 'Марианна', 'Марина', 'Маришка', 'Мария', 'Марлен', 'Марта', 'Маруся',
          'Марьяна', 'Марія', 'Маша', 'Мелания', 'Мира', 'Надежда', 'Надя', 'Назира', 'Настюха', 'Настя', 'Наталiя', 'Натали',
          'Наталия', 'Наталья', 'Наташа', 'Ника', 'Николь', 'Нина', 'Оксана', 'Оленька', 'Олеся', 'Олечка', 'Ольга', 'Оля',
          'Паула', 'Пелагея', 'Полина', 'Поля', 'Рада', 'Радмила', 'Рамиля', 'Регина', 'Рената', 'Рина', 'Рита', 'Роза', 
          'Розалия', 'Рузана', 'Рузанна', 'Русалина', 'Руслана', 'Сабина', 'Самира', 'Сандра', 'Сара', 'Света', 'Светлана',
          'Серафима', 'Сима', 'Снежана', 'Сонечка', 'Соня', 'Софико', 'София', 'Софья', 'Стефания', 'Таиса', 'Таисия', 'Танюша', 
          'Таня', 'Тася', 'Татьяна', 'Тереза', 'Тоня', 'Ульяна', 'Фёкла', 'Эва', 'Элиза', 'Элизабет', 'Элина', 'Элоиза', 
          'Элона', 'Эльза', 'Эля', 'Эрика', 'Юлiя', 'Юлия', 'Юля', 'Яна', 'Яночка', 'Ярослава']
mnames = ['Alexander', 'Anastas', 'Anatoliy', 'Andrew', 'Dmitri', 'Dmitriy', 'Dmitry', 'Egor', 'Ermek', 'Gary', 'Gerard',
          'Ilia', 'Jack', 'Joseph', 'Kain', 'Konstantin', 'Kristoffer', 'Maksim', 'Matthew', 'Misha', 'Pavel', 'Sebastian',
          'Sergey', 'Stefan', 'Tamerlan', 'Vaclav', 'Vladimir', 'Vladislav', 'Vladislaw', 'Yasha', 'Yuri', 'Yury', 
          'Paul', 'Август',
          'Августин', 'Адам', 'Аид', 'Александр', 'Александръ', 'Алексей', 'Алексѣй', 'Алесь', 'Али', 'Амир', 'Анатолий',
          'Андрей', 'Антон', 'Аркадiй', 'Арсений', 'Артем', 'Артемий', 'Артур', 'Артём', 'Афанасий', 'Бекболат', 'Борис', 
          'Булат', 'Вадим', 'Вадимъ', 'Валентин', 'Валера', 'Валерий', 'Ваня', 'Василий', 'Виктор', 'Викторъ',
          'Виталий', 'Влад', 'Владимир', 'Владислав', 'Вова', 'Всеволод', 'Вячеслав', 'Геннадий', 'Генрих', 'Георгий', 'Герман',
          'Григорий', 'Дамир', 'Даниил', 'Данил', 'Даниэл', 'Даня', 'Денис', 'Дениска', 'Джек', 'Дима', 'Димитрий', 'Дмитрiй',
          'Дмитриев', 'Дмитрий', 'Дониёр', 'Евген', 'Евгений', 'Егор', 'Елисей', 'Иван', 'Игорь', 'Ильдар', 'Ильшат',
          'Илья', 'Иоанн', 'Ислам', 'Исмагилов', 'Каин', 'Кирилл', 'Константин', 'Костя', 'Кристофер', 'Леонид', 'Льоня',
          'Макс', 'Максим', 'Максъ', 'Марк', 'Маркус', 'Маркъ', 'Матвей', 'Михаил', 'Некит', 'Ник', 'Никита', 'Николай', 'Олег',
          'Олегъ', 'Павел', 'Павелъ', 'Паша', 'Пашокъ', 'Ринат', 'Робин', 'Рома', 'Роман', 'Ростик', 'Руслан', 'Русланъ',
          'Рустемъ', 'Светослав', 'Святослав', 'Сева', 'Севастьян', 'Семен', 'Семён', 'Сергей', 'Серега', 'Слава', 'Станислав',
          'Стас', 'Степа', 'Степан', 'Тамир', 'Тимофей', 'Тимур', 'Тихон', 'Эдвард', 'Эдик', 'Юра', 'Юрий', 'Ярослав']

In [ ]:
fams = list([str(x) for x in set(df.VK_last_name)])
mfams = [x for x in fams if x.endswith(('ов', 'ин', 'ын', 'ев', 'ёв', 'овъ', 'евъ', 'кий', 'ой', 
                                        'ov', 'ev', 'in', 'kiy', 'ow','ін')) and (len(x) > 3) and x!= 'Мягкий']
ffams = [x for x in fams if x.endswith(('ова', 'ина', 'ына', 'ева', 'ёва', 'вна', 'ая', 'ova', 'eva', 'vna', 'ina', 'kiya',
                                       'owa'))]
lfams = [x for x in fams if not (x in mfams or x in ffams)]

In [ ]:
df = pd.read_csv('./items1263547.csv', sep = '|', index_col=[0,1])
df

In [ ]:
df[(df.DF_sex == 'male') & (df.VK_sex == 2.0)]

In [ ]:
df[(df.DF_sex == 'female') & (df.VK_sex == 1.0)]

## Gender from names and last names

In [ ]:
def gender_names(name, fam): 
    if (name in mnames) and (fam in ffams):
        return None
    if (name in fnames) and (fam in mfams):
        return None
    if (name in fnames) or (fam in ffams):
        return 0
    if (name in mnames) or (fam in mfams):
        return 1
def list_names(df1):
    return df1.assign(gender_from_name = [gender_names(x,y) for i, (x,y) in df1[['VK_first_name', 'VK_last_name']].iterrows()])

In [ ]:
df2 = list_names(df)
df2

In [ ]:
df2[df2.gender_from_name.isna()][['DF_sex', 'VK_sex', 'VK_first_name', 'VK_last_name']]

In [ ]:
df2.to_csv('../cleaning/name_gender_added.csv')

## Gender merged

In [ ]:
if x == 'female' and y in [0.0,1.0]:
        return 0
    if x == 'male' and y in [0.0,2.0]:
        return 1

In [ ]:
def gender_logic(dfsex, vksex, namesex):
    #print(type(dfsex), dfsex, type(namesex), type(vksex))
    allnone = 0
    conflvkdf = 0
    conflvkdfnoname = 0
    confldfvk1name = 0
    print(dfsex, vksex, namesex)
    if (not (dfsex in ('female', 'male'))) and np.isnan(namesex) and (np.isnan(vksex) or vksex == 0.0):
        allnone+=1
        #print(1)
        return (None, 'allnone')
    if (dfsex == 'female' and vksex ==2.0) or (dfsex == 'male' and vksex ==1.0):
        conflvkdf += 1
        if np.isnan(namesex):
            #print(2.1)
            conflvkdfnoname+=1
            return (namesex, 'conflvkdfnoname')
        #print(2)
        return (namesex, 'confldfvk1name')
    if (not (dfsex in ('female', 'male'))) ^ (np.isnan(vksex) or vksex == 0.0):
        if (dfsex == 'female' and namesex == 1) or (dfsex == 'male' and namesex == 0):
            confldfvk1name += 1
            #print(3)
            return (None, 'confldfvkwithname')
        if (vksex == 1 and namesex == 1) or (vksex == 2 and namesex == 0):
            confldfvk1name += 1
            #print(4)
            return (None, 'confldfvkwithname')
    if (not (dfsex in ('female', 'male'))) and (np.isnan(vksex) or vksex == 0.0):
        return (namesex, 'nameonly')
    if np.isnan(namesex) and (np.isnan(vksex) or vksex == 0.0):
        return (dfsex, 'dfonly')
    if (not (dfsex in ('female', 'male'))) and np.isnan(namesex):
        return (vksex, 'vkonly')
    if (dfsex == 'female' and vksex ==1.0) or (dfsex == 'female' and namesex == 0) or (vksex ==1.0 and namesex == 0):
        #print('ok')
        return 0, 'ok'
    if (dfsex == 'male' and vksex ==2.0) or (dfsex == 'male' and namesex == 1) or (vksex ==2.0 and namesex == 1):
        #print('ok')
        return 1, 'ok'

In [ ]:
def list_comp(dfi):
    genmerged = []
    comments = {}
    for i, (x,y,z) in dfi[['DF_sex', 'VK_sex', 'gender_from_name']].iterrows():
        print(i,x,y,z, type(x), type(y), type(z))
        print([str(x),y,z])
        res, com = gender_logic(str(x),y,z)
        genmerged.append(res)
        comments[com] = comments.get(com, [])
        comments[com].append([x, y, z, str(dfi.VK_first_name[i]), str(dfi.VK_last_name[i])])
    #print(comments)
    return dfi.assign(gender_merged = genmerged), comments

In [ ]:
df3, coms = list_comp(df2)

In [ ]:
coms.keys()

In [ ]:
for k, v in coms.items():
    print (k, len(v))

In [ ]:
len(coms['confldfvkwithname']), coms['confldfvkwithname']

In [ ]:
sum([len(x) for x in coms.values()])

### 9 who had no DF_sex, no VK_sex and no sex_from_name (allnone) - to delete / 13 by Olessia
### 38 with conflicting DF_sex and VK_sex ascribed sex_from_name (confldfvk1name)
### 13 those with conflicting DF_sex and VK_sex and no sex_from_name (conflvkdfnoname) - to delete / 30 by Olessia
### 30 those with conflicting sex_from_name and the only available other sex (confldfvkwithname) - to delete / 12 by Olessia
### 166 inferred by name and last name only (no info in DF_sex and VK_sex, nameonly) 
### 41 inferred by DF only (dfonly)
### 21 inferred by VK only (vkonly)
### 1730 inferred by at least 2 eqal variables out of 3, excluding confldfvk1name (ok)
### -> Sum = 2048

In [ ]:
df3.to_csv('../cleaning/all_gender_added.csv')

In [ ]:
df3[df3.gender_merged.isna()].shape, df3.gender_merged.dropna().shape, df3[df3.gender_merged.isna()].shape[0]+ df3.gender_merged.dropna().shape[0]

In [ ]:
df3[df3.gender_merged == 1]

## to delete alltogether:

In [ ]:
df3[df3.gender_merged.isna()][['DF_sex', 'VK_sex', 'gender_from_name', 'VK_first_name', 'VK_last_name']]

## Birth year

In [ ]:
#Deleting bad gender first
df4 = df3[~df3.gender_merged.isna()]

In [ ]:
df4.columns[20:50]

In [ ]:
def birth_years(dfb, vkb):
    sp= str(vkb).split('.')[-1]
    
    #print(dfb, vkb)
    if len(sp) == 4:
        vkb1 = int(sp)
    else:
        vkb1=0
    if np.isnan(dfb):
        dfb1 = 0
    else:
        dfb1 = dfb
    if (dfb1 < 1950) and (vkb1 < 1950):
        #print(dfb, vkb, '-> res=None')
        return None, 'bothNoneOr<1950OrVk=2020'
    if dfb1 > 2005 and vkb1 > 2005:
        return None, 'both>2005'
    if dfb1 == 0:
        if vkb1 == 2020:
            return None, 'df0vk2020'
        if 2001 < vkb1 < 2020:
            return None, 'vk<18yo'
        if 1950 <= vkb1 <= 2001:
            return vkb1, 'vk-ok'
    if (dfb1 < 1950 or dfb1 > 2005) and (vkb1 < 1950 or vkb1 > 2005 or vkb1 == 0):
        return None, 'TooOldYoung'
    if vkb1 == 0:
        return dfb1, 'NoVkYear'
    if vkb1 < 1950:
        return dfb1, 'VkYearTooOld'
    if dfb1 < 1950:
        return dfb1, 'DfYearTooOld'
    if vkb1 == dfb1:
        return dfb1, 'Equal'
    if abs(vkb1-dfb1) <= 3:
        return dfb1, '<=3yDiff'
    else:
        return None, '>3yDiff'
    return 1, 'ok'
def list_years(df1):
    bym = []
    coms = {}
    p = 0
    for i, (x,y) in df1[['DF_birthyear', 'VK_birthday']].iterrows():
        #print(p, i, x,y)
        by, com = birth_years(x,y)
        bym.append(by)
        coms[com] = coms.get(com, [])
        coms[com].append([x, y])
        p+=1
    return df1.assign(by_merged = bym), coms

In [ ]:
df5,coms = list_years(df4)
df5

In [ ]:
[(k, len(v)) for (k, v) in coms.items()]

In [ ]:
sum([len(v) for v in coms.values()]) - 294

In [ ]:
coms['DfYearTooOld']

### 263+31 = 294 deleted by birthyear / 295 deleted by Olessia

In [ ]:
coms['NoVkYear']

In [ ]:
df6 = df5[~df5.by_merged.isna() & ~df5.gender_merged.isna()]
df6

## 1702 rows with clean gender AND birthyear

In [ ]:
df6.to_csv('../cleaning/only_gender_birthyear_cleaned.csv')

In [ ]:
df6.columns[-100:]

In [ ]:
df6[~df6.NVkFriends.isna()].to_csv('../cleaning/only_gender_birthyear_friendsN_cleaned.csv')

### 1702 - 1697 = 5 rows with no vk friends information given

In [ ]:
df6[df6.NVkFriends == 0][['VK_friends', 'NVkFriends']]

# Filtering by friends, app usage and message info

In [ ]:
df7 = df6[~df6.NVkFriends.isna()]

In [ ]:
# Has non-zero app usage info and >= 10 subscriptions
dfall = df7[(~df7.AppUsage1stWeek.isna())& (df7.AppUsage1stWeek>0) & 
            (~df7.Subscriptions_gathered.isna()) & (~ (df7.Subscriptions_gathered < 10))]
dfall.shape

In [ ]:
dfall['MessChars_-1'] < 100

In [ ]:
#Has some messages in the last month with sum length >= 100 chars
dfall1 = dfall[(~ (dfall['MessChars_-1'].isna() | (dfall['MessChars_-1'] < 100)))]
dfall1.shape

In [ ]:
dfall1.to_csv('../cleaning/only_cleaned_like_Olessia.csv')

In [ ]:
#With all the above restrictions AND having WHO, Diener or WHO+Diener info
print(dfall1[~dfall1.DF_who_score.isna()].shape, dfall1[~dfall1.DF_diener_score.isna()].shape, 
dfall1[(~dfall1.DF_who_score.isna()) & (~dfall1.DF_diener_score.isna())].shape)

In [ ]:
ind = dfall1[(~dfall1.DF_who_score.isna()) & (~dfall1.DF_diener_score.isna())].index

In [ ]:
s = set([x[0] for x in ind])
len(s)

In [ ]:
dfall1.DF_who_score.describe()

In [ ]:
dfall1.DF_who_score.hist(bins=26)

In [ ]:
dfall1.DF_diener_score.describe()

In [ ]:
dfall1.DF_diener_score.hist(bins=30)

In [ ]:
for i, c in enumerate(dfall1.columns):
    print(i, c)

In [ ]:
#Look at duplicates - 55 rows
dfall1[dfall1.index.duplicated(False)].iloc[:,list(range(5)) + [28, 13, 14] + list(range(-5,0))]

In [ ]:
dropdub = dfall1[~dfall1.index.duplicated(keep='first')]

In [ ]:
#With dropped duplicates + all the above restrictions AND having WHO, Diener or WHO+Diener info
print(dropdub[~dropdub.DF_who_score.isna()].shape, dropdub[~dropdub.DF_diener_score.isna()].shape, 
dropdub[(~dropdub.DF_who_score.isna()) & (~dropdub.DF_diener_score.isna())].shape)